.DS_Store
/.build
/Packages/*
!/Packages/SwiftLogLensMacros/
!/Packages/SwiftLogLensMacros/**
/Packages/SwiftLogLensMacros/.build
/Packages/SwiftLogLensMacros/Package.resolved
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
